@model ISBahus.Models.IzvestajOStanjuRepromaterijala

@{
    ViewBag.Title = "Details";
}



<div class="create-strane">
    <h2>Detalji o izveštaju</h2>
    <h4>Izveštaj o stanju repromaterijala</h4>
    <hr style="border-top: 1px solid #fff;" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            Izdaje
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radnik.PunoIme)
        </dd>

        <dt>
            Prima
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radnik1.PunoIme)
        </dd>

        <dt>
            Šifra zahteva
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZahtevOStanjuRepromaterijala.SifraZahteva)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Izmeni", "Edit", new { id = Model.SifraIzvestaja }) |
        @Html.ActionLink("Vrati se na prethodnu stranu", "Index")
    </p>
</div>
